@import '~styles/use-bootstrap';

.table {
  label {
    margin: 0;
    display: block;
  }
  thead {
    th {
      vertical-align: top;
    }
    background-color: white;
  }
  tbody + tbody {
    border-top: none;
  }
}

.tableIsFetching {
  composes: table;
  cursor: wait;
  > * {
    pointer-events: none;
  }
}

.tableHeader {
  th {
    border-bottom: 1px solid $color-rule;
  }
}

.tableHeaderSticky {
  th {
    position: sticky;
    top: 0;
  }
}

// header cell

.tableHeaderCell {
  color: $color-grey-dark;
  background-color: $color-panel;
  font-weight: normal;
}

.tableHeaderCellClickable {
  composes: tableHeaderCell;
  cursor: pointer;
  &:hover {
    background-color: darken($color-panel, 2%);
    color: $color-text;
    // opacity: 0.7;
  }
}

.tableHeaderCellSelected {
  composes: tableHeaderCellClickable;
  background-color: $color-panel-selected;
}

// header cell inner

.tableHeaderCellInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableHeaderCellInnerSelectedDescending {
  composes: tableHeaderCellInner;
  &::after {
    font-family: FontAwesome;
    content: '\00a0\f107';
  }
}

.tableHeaderCellInnerSelectedAscending {
  composes: tableHeaderCellInner;
  &::after {
    font-family: FontAwesome;
    content: '\00a0\f106';
  }
}

// icons always

.tableHeaderIconAlways {
  composes: tableHeader;
  .tableHeaderCellInner {
    &::after {
      font-family: FontAwesome;
      content: '\00a0\f0dc';
      color: $color-grey-mid;
    }
  }
}

.tableHeaderIconAlways .tableHeaderCellInnerSelectedDescending {
  &::after {
    font-family: FontAwesome;
    content: '\00a0\f0dd';
    color: $color-grey-dark;
  }
}

.tableHeaderIconAlways .tableHeaderCellInnerSelectedAscending {
  &::after {
    font-family: FontAwesome;
    content: '\00a0\f0de';
    color: $color-grey-dark;
  }
}

// table cell

.tableCell {
  border-top: 1px solid $color-rule;
}

.tableCellNoSeparator {
  border-top-color: transparent;
}

.tableBody {
  border-bottom: 1px solid $color-rule;
}
