@import '~styles/use-bootstrap';

.container {
}

table {
  &:global(.table-hover) {
    .container {
      &:hover {
        color: $table-hover-color;
        background-color: $table-hover-bg;
      }
    }
  }
}
