.componentWrap {
  display: flex;
  flex-direction: row;
}

.itemLink {
  display: flex;
}

.item {
  composes: global(pr-3);
  composes: global(py-3);
  display: flex;
}

.currentItem {
  composes: item;
  display: flex;
  font-weight: bold;
}
