@import '~font-awesome/css/font-awesome.css';

@import './vendor/bootstrap';
@import './vendor/react-datepicker';

.form-group {
  // use 'has-error' class on form-group to display error states
  &.has-error {
    .invalid-feedback {
      display: block;
    }
    .form-control {
      @extend .form-control.is-invalid;
    }
    .custom-select {
      @extend .custom-select.is-invalid;
    }
    .form-check-input {
      @extend .form-check-input.is-invalid;
    }
    .custom-control-input {
      @extend .custom-control-input.is-invalid;
    }
    .custom-file-input {
      @extend .custom-file-input.is-invalid;
    }
  }

  .field-description {
    @extend .form-control-plaintext;
  }

  .checkbox {
    label {
      @extend .form-check-label;
    }
    input {
      @extend .form-check-input;
    }
  }

  .checkboxes {
    @extend .form-control-plaintext;
  }

  .field-radio-group {
    padding: $input-padding-y 0;
    label {
      @extend .form-check-label;
      &.radio-inline {
        @extend .form-check-inline;
      }
    }
    input {
      @extend .form-check-input;
    }
  }

  input[type='radio'] + span,
  input[type='checkbox'] + span {
    position: relative;
    cursor: pointer;
  }

  input[type='radio']:disabled + span,
  input[type='checkbox']:disabled + span {
    opacity: 0.5;
    cursor: default;
  }

  input[type='radio']:checked + span,
  input[type='checkbox']:checked + span {
    color: $color-tint-primary;
  }

  .field-radio-group label.radio-inline input,
  input[type='radio'],
  input[type='checkbox'] {
    position: absolute;
    left: -9999px;
  }

  input[type='radio'] + span,
  input[type='checkbox'] + span {
    padding-left: 25px;
  }

  input[type='radio'] + span::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid $input-border-color;
    border-radius: 500px;
    background-color: $input-bg;
  }

  input[type='radio']:checked + span::before {
    border: 6px solid $color-tint-primary;
    background-color: white;
  }

  input[type='checkbox'] + span::before {
    align-items: center;
    background-color: $input-bg;
    border-radius: 3px;
    border: 1px solid $input-border-color;
    bottom: 0;
    color: $color-white;
    content: '';
    display: flex;
    font-size: 14/16 * 1rem;
    height: 20px;
    justify-content: center;
    left: 0;
    line-height: 1;
    position: absolute;
    width: 20px;
  }

  input[type='checkbox']:checked + span::before {
    background-color: $color-tint-primary;
    border-color: $color-tint-primary;
    content: '\f00c';
    font-family: FontAwesome;
  }
}

html,
input {
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}
