.formWrap {
  composes: global(pt-3);
}

.formFooter {
  display: flex;
  composes: global(py-3);
  composes: global(border-top);
  composes: global(flex-column);
  composes: global(flex-sm-row);
  composes: global(justify-content-between);
}

.formFooterButtonGroup {
  display: flex;
  composes: global(mb-3);
  composes: global(mb-sm-0);
  composes: global(flex-column);
  composes: global(flex-sm-row);
}
