@import '~styles/use-bootstrap';

.componentWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fileUpload {
  display: none;
}

.contentWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
}

.imagePreviewSizerWidth {
  composes: global(mr-3);
  display: block;
  width: 25%;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  background-color: $color-panel;
  overflow: hidden;
  padding: 0;
}

.imagePreviewSizerHeight {
  position: relative;
  padding-bottom: 100%;
}

.imagePreviewWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-width: 100%;
}

.imagePreviewBinary {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.descriptionAndActions {
}

.description {
  composes: global(pb-3);
}

.fileTypeAndSize {
  composes: global(text-mid);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
