@import '~styles/colors';

.passwordStrengthIndicatorContainer {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passwordStrengthIndicatorOff {
  width: 4px;
  height: 4px;
  background-color: $color-rule;
  border-radius: 500px;
}

.passwordStrengthIndicatorOff + .passwordStrengthIndicatorOff {
  margin-top: 1px;
}

.passwordStrengthIndicatorR {
  composes: passwordStrengthIndicatorOff;
  background-color: $color-app-red;
}

.passwordStrengthIndicatorA {
  composes: passwordStrengthIndicatorOff;
  background-color: $color-app-amber-dark;
}

.passwordStrengthIndicatorG {
  composes: passwordStrengthIndicatorOff;
  background-color: $color-app-green;
}
