@import '~styles/use-bootstrap';

.container {
  :global(.react-select__menu) {
    :global(.react-select__menu-list) {
      max-height: 50vh;
      overflow-x: hidden;
    }
  }
  :global(.react-select__control) {
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
    border-color: $input-border-color;
    background-color: $input-bg;
    border-radius: $input-border-radius;
  }

  :global(.react-select__control--is-focused) {
    color: $input-focus-color;
    border-color: $input-focus-border-color;
    background-color: $input-focus-bg;
    &:hover {
      border-color: $input-focus-border-color;
    }
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }

  :global(.react-select__control--is-disabled) {
    background-color: $input-disabled-bg;
  }

  :global(.react-select__placeholder) {
    color: $input-placeholder-color;
  }

  :global(.react-select__single-value) {
    color: $color-text;
  }

  :global(.react-select__indicator-separator) {
    margin: 0;
    background-color: $input-border-color;
  }

  :global(.react-select__indicator.react-select__dropdown-indicator) {
    background-color: $input-group-addon-bg;
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;

    svg {
      fill: $input-group-addon-color;
    }
  }

  :global(.react-select__menu) {
    // avoid z-index conflict with date picker arrows
    z-index: 2;
  }

  :global(.react-select__option) {
    color: $color-text;
    background-color: transparent;
    &:global(.react-select__option--is-focused) {
      background-color: $gray-300;
    }
    &:active {
      background-color: $gray-400;
    }
  }

  :global(.react-select__option--is-selected) {
    background-color: $color-tint-primary;
    color: $color-white;
    &:global(.react-select__option--is-focused),
    &:active {
      background-color: $color-tint-primary;
    }
  }

  // errors
}

:global(.has-error) {
  .container {
    :global(.react-select__control) {
      border-color: $form-feedback-invalid-color;
    }
  }
}
