@import '~styles/colors';

.componentWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14/16 * 1rem;
  line-height: 1;
  min-height: 32/16 * 1rem;

  :global(.react-datepicker-wrapper) {
    width: auto;
  }
}

.customInput {
  composes: global(px-1);
  :global(i.fa) {
    font-size: 14/16 * 1rem;
  }
}
