@import '~styles/colors';

.componentWrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}

.remove {
  composes: global(text-mid);
  composes: global(px-2);
  font-size: 14/16 * 1rem;
  line-height: 1;
}

.clear {
  composes: global(btn);
  composes: global(text-mid);
  composes: global(p-0);
  font-size: 14/16 * 1rem;
}

.element {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.widthSizer {
  visibility: hidden;
  font-size: 14/16 * 1rem;
  padding-right: 40/16 * 1rem;
  height: 0;
}

.addFiltersControl {
  :global(.react-select__menu) {
    :global(.react-select__menu-list) {
      max-height: 50vh;
      overflow-x: hidden;
    }
  }
  :global(.react-select__control) {
    background: none;
    border-color: rgba($color-tint-primary, 0.4);
    min-height: 32/16 * 1rem;
    &:hover {
      border-color: rgba($color-tint-primary, 0.4);
    }
  }
  :global(.react-select__control--is-focused) {
    border-color: $color-tint-primary;
    box-shadow: none;
    &:hover {
      border-color: $color-tint-primary;
    }
  }
  :global(.react-select__value-container) {
    padding-top: 0;
    padding-bottom: 0;
  }
  :global(.react-select__placeholder) {
    font-size: 14/16 * 1rem;
    color: $color-tint-primary;
    white-space: nowrap;
  }
  :global(.react-select__control--is-focused) {
    :global(.react-select__placeholder) {
      color: $color-placeholder;
    }
  }
  :global(.react-select__single-value) {
    font-size: 14/16 * 1rem;
    color: $color-tint-primary;
  }
  :global(.react-select__input) {
    font-size: 14/16 * 1rem;
    line-height: 1;
  }
  :global(.react-select__indicator-separator) {
    display: none;
  }
  :global(.react-select__dropdown-indicator) {
    padding-top: 0;
    padding-bottom: 0;
    svg {
      display: none;
    }
    &:before {
      font-family: FontAwesome;
      content: '\f0d7';
    }
  }
  :global(.react-select__value-container) {
    + :global(.react-select__indicators) {
      :global(.react-select__dropdown-indicator) {
        &:before {
          color: $color-tint-primary;
        }
      }
    }
  }
}
