@import '~styles/colors';

.componentWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14/16 * 1rem;
  line-height: 1;
  // margin-right: -5px;
}

.widthSizer {
  visibility: hidden;
  font-size: 14/16 * 1rem;
  padding-right: 14/16 * 1rem;
  height: 0;
}

.control {
  :global(.react-select__menu) {
    :global(.react-select__menu-list) {
      max-height: 50vh;
      overflow-x: hidden;
    }
  }
  :global(.react-select__control) {
    background: none;
    border: none;
    min-height: 32/16 * 1rem;
  }
  :global(.react-select__control--is-focused) {
    border: none;
    box-shadow: none;
    &:hover {
      border: none;
    }
  }
  :global(.react-select__value-container) {
    padding: 0;
  }
  :global(.react-select__placeholder) {
    font-size: 14/16 * 1rem;
    margin: 0;
  }
  :global(.react-select__single-value) {
    font-size: 14/16 * 1rem;
    margin: 0;
    color: $color-tint-primary;
  }
  :global(.react-select__input) {
    font-size: 14/16 * 1rem;
    line-height: 1;
  }
  :global(.react-select__indicator-separator) {
    display: none;
  }
  :global(.react-select__dropdown-indicator) {
    padding: 0;
    svg {
      display: none;
    }
    &:before {
      font-family: FontAwesome;
      content: '\f0d7';
    }
  }
  :global(.react-select__value-container--has-value) {
    + :global(.react-select__indicators) {
      :global(.react-select__dropdown-indicator) {
        &:before {
          color: $color-tint-primary;
        }
      }
    }
  }
}
