@import '~styles/use-bootstrap';

.activityIndicator {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0.125em;
  animation: spin 1.1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
