@import '~styles/use-bootstrap';

@each $color, $value in $theme-colors {
  .activity-indicator__border--#{$color} {
    border-top-color: $value;
    border-right-color: $value;
    border-bottom-color: $value;
    border-left: $color-transparent;
  }
}
