@import '~styles/colors';

.componentWrap {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.componentWrapOverlay {
  composes: componentWrap;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-white-transparent;
}

.componentWrapDelayed {
  composes: componentWrap;
  animation: delayedShow 1s forwards;
}

.componentWrapOverlayDelayed {
  composes: componentWrapOverlay;
  animation: delayedShow 1s forwards;
}

@keyframes delayedShow {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.activityIndicatorContainer {
  display: block;
  width: 4rem;
  height: 4rem;
}
