<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <script>
      window.env = <%= htmlWebpackPlugin.options.env %>;
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
