@import '~styles/colors';

.container {
  color: white;
  display: block;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
}

.message {
  composes: container;
  background-color: $info;
}

.error {
  composes: container;
  background-color: $danger;
}

.success {
  composes: container;
  background-color: $success;
}

.content {
  margin: 5px 0;
  text-align: center;
}

.icon {
  margin-right: 10px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}
