@import '~styles/colors';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.notification {
  min-width: 320px;
  padding: 0 30px 20px;
}

.enter {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(0, 64px);
}

.enter.enterActive {
  opacity: 1;
  transform: translate(0, 0);
}

.exit {
  opacity: 1;
  transition: all 0.3s;
  transform: translate(0, 0);
}

.exit.exitActive {
  opacity: 0;
  transform: translate(0, 64px);
}
