.componentWrap {
  composes: global(py-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.componentWrapBorder {
  composes: componentWrap;
  composes: global(border-bottom);
}

.title {
  composes: global(h3);
  composes: global(mb-0);
  composes: global(d-inline-block);
}
